.Search {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.Search-input {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.Search-input:focus {
    outline: none;
}

.Search-suggestions {
    position: absolute;
    background: #fff;
    max-width: 500px;
    width: 100%;
    top: 60px;
    border-radius: 5px;
    overflow: hidden;
}

.Search-suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 365px;
    overflow-y: auto;
}

.Search-suggestions-item {
    color: #000;
    text-align: left;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.Search-suggestions-item:hover {
    background: #e0f0ff;
}
